<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Addrest | Coming Soon!</title>
    <link href="{{ url_for('static', filename='img/favicon.png')}}" rel="icon">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="description" content="Addrest is a persistent digital address identifier.">
    <meta name="keywords" content="addrest, apratim, muskan">
    <meta name="author" content="Addrest Team">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  </head>

  <body>
    <div class="ghost">
      <span class="text">ID</span>
      <div class="icon"><img src="{{ url_for('static', filename='img/favicon.png')}}" style="object-fit: contain; height: 100px;"></div>
      
      <div class="corner"></div>
      <div class="corner two"></div>
      <div class="corner three"></div>
      <div class="corner four"></div>
      
      <div class="over"></div>
      <div class="over two"></div>
      <div class="over three"></div>
      <div class="over four"></div>
      
      <div class="shadow"></div>
    </div>

    <div class="main">
      <div class="error">Soon</div>
      <h2>Addrest is coming soon...</h2>
      <h6>The persistent digital address identifier is currently under construction.</h6>
    </div>
  </body>
</html>